In [26]:
mixed = ['ABdul Rahman Azam', 2345, 65.6, True]
print(mixed)

# mixed.append('Ali SHarjeel')

mixed.insert(1, 'Ali SHarjeel')
print(mixed)

mixed.remove(2345)
print(mixed)


popped = mixed.pop()
print(popped)
print(mixed)

['ABdul Rahman Azam', 2345, 65.6, True]
['ABdul Rahman Azam', 'Ali SHarjeel', 2345, 65.6, True]
['ABdul Rahman Azam', 'Ali SHarjeel', 65.6, True]
True
['ABdul Rahman Azam', 'Ali SHarjeel', 65.6]

In [41]:
squared = [i**2 for i in range(5)]
print(squared)

b = []
for i in range(5):
  b.append(i**2)
print(b)

matrix = [[i+j for j in range(4)] for i in range(4)]
print(matrix)

# list -> []

a, b, *c = [1,2,3,4,5]
print(a)
print(b)
print(c)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]
[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]
1
2
[3, 4, 5]

In [59]:
student = {
    'name': 'Alice',
    'age': 20,
    'grades': [85, 90, 78],
}

cars = {
    1:1,
    2:2,
    3:3
}

squares = {
    x: x**2 for x in range(5)
}

# dictionary -> {key:value}

print(student)
student['good teacher'] = 'Principle'
print(student)
# print(squares)

# print(student.keys())
# print(student.values())
# print(student.items())

# for key, value in student.items():
#   print(key, value)

print(student.get('grades'))
print(student['grades'])

{'name': 'Alice', 'age': 20, 'grades': [85, 90, 78]}
{'name': 'Alice', 'age': 20, 'grades': [85, 90, 78], 'good teacher': 'Principle'}
[85, 90, 78]
[85, 90, 78]

In [69]:
colors = {'red', 'green', 'blue', 'green'}
num = [1, 2, 2, 3, 3, 4]
numbers = set(num)
numbers = {1,2,2,3,3,4}

print(colors)
# print(numbers)

num = {'abvc',123}
print(num)

num1 = {1,2,3,4}
num2 = {3,4,5,6}

union = num1 | num2
print(union)

intersection = num1 & num2
print(intersection)

difference = num2 - num1
print(difference)

{'green', 'blue', 'red'}
{123, 'abvc'}
{1, 2, 3, 4, 5, 6}
{3, 4}
{5, 6}

In [110]:
str1 = "abdul rahman azam"
str2 = "abdul rahman azam"

# str1= str1.capitalize()
# str2 = str2.title()

# print(str1)
# print(str2)

# print(str1.find('rahman')) # substring -> index
# print(str1.count('m')) # substring -> counts of particular substring
# print(str1.startswith('a')) # prefix -> enter a substring eitherr it is first or not
# print(str1.endswith('m')) # suffix 0> enter the substring either it is last or not


# print(str1.replace('rahman', 'RAHMAN'))
# print(str1)
# print(str1.strip())
# print(str1.split('a')) # delimeter
# str.join(iterable)

name = 'agdadsg'
age = 2345
message = f"Hello, {name}! You are {age} years old."
print(message)

Hello, agdadsg! You are 2345 years old.